<section class="byline">
    <span itemprop="author" itemscope itemtype="http://schema.org/Person" class="author">/<a itemprop="url name" href="https://plus.google.com/+victorfalcon?rel=author" rel="author" >{{author.name}}</a></span>
</section>