<nav class="links">
    <ul>
        <li class="rss"><a title="RSS Feed" href="/rss/"><i class="fa fa-fw fa-rss-square"></i></a></li>
        <li class="twitter"><a title="Twitter" href="http://twitter.com/victoor"><i class="fa fa-fw fa-twitter-square"></i></a></li>
        <li class="gplus"><a title="Google+" href="https://plus.google.com/+victorfalcon"><i class="fa fa-fw fa-google-plus-square"></i></a></li>
        <li class="github"><a title="GitHub" href="http://github.com/victoor"><i class="fa fa-fw fa-github-square"></i></a></li>
        <li class="bitbucket"><a title="BitBucket" href="https://bitbucket.org/victoor"><i class="fa fa-fw fa-bitbucket-square"></i></a></li>
    </ul>
</nav>