<nav class="pagination" role="navigation">
    {{#if prev}}
        <a class="newer-posts" href="{{pageUrl prev}}">&larr;<span class="pagination-text"> Anterior</span></a>
    {{/if}}
    <span class="page-number">Página {{page}} de {{pages}}</span>
    {{#if next}}
        <a class="older-posts" href="{{pageUrl next}}"><span class="pagination-text">Siguiente </span>&rarr;</a>
    {{/if}}
</nav>