<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
   
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Rambla:700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href="{{asset 'css/style.css'}}" rel="stylesheet" type="text/css">
    <link href="{{asset 'favicon.ico'}}" rel="shortcut icon">
    
    {{ghost_head}}
</head>
<body itemscope itemtype="http://schema.org/Blog" class="{{body_class}}">
    {{{body}}}
    <footer>           
        {{> footer}}
    </footer>
    
    {{ghost_foot}}
    <script src="//yandex.st/highlightjs/8.0/highlight.min.js"></script>
    <script type="text/javascript" src="{{asset 'js/jquery.fitvids.js'}}"></script>
    <script type="text/javascript" src="{{asset 'js/scripts.js'}}"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-33753374-1', 'auto');
        ga('send', 'pageview');
    </script>
</body>
</html>